//
// testi.scss
//
.client-review {
    padding: 30px 30px 40px 30px;
    .reviewer {
        .content {
            .name {
                font-weight: 500;
            }
        }
    }
}

.tns-nav {
    text-align: center;
    button {
        width: 5px;
        height: 8px;
        border-radius: 30px;
        background: transparent;
        border: 2px solid $primary;
        margin: 2px;
        &.tns-nav-active {
            background: $primary !important;
        }
    }
}

.signature-text {
  font-family: 'Island Moments', cursive;
  font-style: italic; // opzionale
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1.2;
}

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}