//
// helper.scss
//

.text-left {
    text-align: right !important;
}

.text-right {
    text-align: left !important;
}

.float-right {
    float: left !important;
}
.float-left {
    float: right !important;
}
dd {
    margin-right: 0 !important;
}
ul {
    li{
        -webkit-margin-start: 0.25rem !important;
                margin-inline-start: 0.25rem !important;
      }
    }
  ul li:first-child{
    -webkit-margin-start: 0px !important;
            margin-inline-start: 0px !important;
  }